body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    width: 98%;
    height: 40px;
    max-width: 1475px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffccd5; /* Light gray background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header p {
    margin: 0;
}

.header a {
    text-decoration: none;
    color: #333; /* Dark gray */
    font-size: 24px;
    transition: color 0.3s ease;
}

.header a:hover {
    color: #e47086; /* Blue on hover */
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

.success {
    color: green;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

